html {
    color: #666666;
}

body, html {
    line-height: 20px;
    min-height: 101%;
}
html {
    font-size: 100%;
    overflow-y: scroll;
}
html, body {
    margin: 0;
    padding: 0;
}


.page {
	background-color:#EEEEEE;
}



.container {
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

h1 {
    border-bottom: 2px solid #DDDDDD;
    font-size: 35px;
    line-height: 40px;
    margin: 0 0 28px;
    padding-bottom: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}


input, textarea {
	width:100%;
	border:1px solid #e8e8e8;
}

textarea {
	height:1em;
    overflow: hidden;
    padding: 10px;
    outline: none;
	box-sizing: border-box;
}

ul.list2 li:nth-child(even) {
	padding-bottom: 10px;
}


.message:before {
    color: #FFFFFF;
    font-family: 'elemental';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    left: 10px;
    position: absolute;
    top: 10px;
}

.message.information {
    background-color: #D9E6F2;
    border-color: #336699;
    color: #336699;
    padding-left: 20px;
}
.message {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 9px;
    position: relative;
}




.post {
	width: 800px;
	margin: 0 auto;
   	overflow: hidden;
    padding: 0 20px;
}		



.message.information a {
    color: #264C73;
}
.message a {
    font-weight: bold;
}
a, a:link, a:active, a:visited, a:focus, a:hover, *:hover {
    transition: all 0.2s ease 0s;
}
a {
    color: #4488DD;
    text-decoration: none;
}



.entry ul li {
	list-style-type: square;
}




footer {
    background: none repeat scroll 0 0 rgba(240, 240, 240, 0.8);
    border-top: 2px solid #DDDDDD;
    padding: 20px 0;
}


footer p {
    margin: 0 0 0 50px;
}


footer, footer a {
    color: #AAAAAA;
}